.electric-border {
  position: relative;
}

.electric-border-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.electric-border-inner {
  position: relative;
  z-index: 2;
}
