.pixel-trail {
  position: absolute;
  inset: 0;
  display: grid;
  grid-auto-rows: var(--pixel-size);
  justify-content: center;
  align-content: center;
  pointer-events: none;
  z-index: 1;
}

.pixel {
  width: var(--pixel-size);
  height: var(--pixel-size);
  opacity: 0;
  background-color: transparent;
  transition: opacity var(--pixel-fade) linear, background-color var(--pixel-fade) linear;
  filter: drop-shadow(0 0 calc(var(--pixel-goo) * 2px) var(--pixel-color));
}

.pixel.active {
  opacity: 0.9;
  background-color: var(--pixel-color);
}
